.detalle{
    
    width: 2000px;
    
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    color: white; 
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: -230px;
    left: -900px;
}

.NoActivity{
    color: white;
    
    border-radius: 10px;
    position: relative;
    left: -15px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    color: white; 
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    width: 400px;
    height: 350px;
}

.ContenedorDetalle{
    height: 490px;
    width: 1230px;
    padding: 200px;
    border: 5px solid #f3e306;
    margin: 60px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    backdrop-filter: blur(4px);
}

.ContenedorActividad{
    position: relative;
    top: -450px;
    left: 1400px;

    
}

.capital{
    color: white; 
}

.NoActividad{
    width: 600px;
    height: 600px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    color: white; 
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: -500px;
    left: 1300px;
    z-index: -1;
    
}

.actividad{
    width: 400px;
    height: 450px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    color: white; 
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: -485px;
    left: 1400px;
    z-index: -1;
    border-radius: 10px;
}

.datos{
    color:white;
    font-size: 1.8rem;
}

.ButtonVolver{
    padding: 4px 10px;
    border: none;
    background: transparent;
    color: white;
    border: 0.5px solid #0099CC;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    left: 100px;
    top: 10px;
}
.ButtonVolver:hover{
    background-color: cornflowerblue;
    color: white;
    transition:0.5s;
    border: 0.2px solid #0099CC;
    font-family: 'Josefin Sans', sans-serif;
}

.ButtonActividades{
    padding: 16px 40px;
    border: none;
    background: transparent;
    color: white;
    border: 3px solid #0099CC;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    left: 55px;
    top: 120px;
    font-size: 1.5rem;
    
}
.ButtonActividades:hover{
    padding: 16px 40px;
    border: none;
    background: transparent;
    color: white;
    border: 3px solid #0099CC;
    font-family: 'Josefin Sans', sans-serif;
    background-color: cornflowerblue;
}
.DivActividad{
    margin-top: 20px;
    position: absolute;
    top: 25px;
    
    height: 300px;
    width: 400px;
    padding: 20px;
    border: 5px solid #494909;
    margin: 6px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    
}
.DivVolver{
    margin-top: 20px;
}