.body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.DivPais{
    justify-content: space-between;
    position: relative;
    top: -110px;
}
.Pais{
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
    border: 0.2px solid #0099CC;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    border-radius: 6px;
    font-family: 'Josefin Sans', sans-serif;
}
.btnAdmin{
    padding: 4px 10px;
    border: none;
    background: transparent;
    color: white;
    border: 0.5px solid #0099CC;
    font-family: 'Josefin Sans', sans-serif;
}
.btnAdmin:hover{
    background-color: cornflowerblue;
    color: white;
    transition:0.5s;
    border: 0.2px solid #0099CC;
    font-family: 'Josefin Sans', sans-serif;
}
